
<h1>Discover Movie Titles!</h1>
<div class="container" ng-controller="MovieIndexController as movies">
	<form ng-submit="searchTitles(word)">
		<input type="text" name="word" placeholder="Type a word to search a Title" ng-model="word">
		<input type="submit" value="Search">
	</form>
	<h1>There are {{results}} results in your search</h1>

	<div ng-repeat="movie in movies">
		<a href="/movies/{{movie.imdbID}}"><h2>{{movie.Title}}</h2></a>
		<p>{{movie.Type}}</p>
		<p>{{movie.Year}}</p>
	</div>
</div>